[submodule "pink/wgpu"]
	path = pink/render/wgpu
	url = https://codeberg.org/spindlebink/wgpu-odin
[submodule "pink/text/fontdue"]
	path = pink/text/fontdue
	url = https://codeberg.org/spindlebink/fontdue-odin
